body{
    background-color: black;
    color: white;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI Adjusted","Segoe UI","Liberation Sans",sans-serif;
}
.testCode{
    margin-bottom: -12px;
    bottom:0;
    left: 310px;
    position: fixed;
    display: flex;
    align-items: center;
}

.mask{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 43px;
    width: calc(1.8 * (100vh - 120px));
    height: calc(100vh - 120px);
    backdrop-filter: blur(5px);
    background-color: rgba(116, 116, 116, 0.301);
    font-size: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .maskText{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding-top: 20px;
        padding-bottom: 20px;
        background-color: rgba(46, 46, 46, 0.808);
        user-select: none; 
        .counterText{
            font-size: 50px;
        }
    }
}

.container{
    height: 100%;
    display: grid;
    grid-template-rows: 50px 1fr;
    width: 100%;
    overflow: hidden;
    .Tools-Container{
        display: grid;
        grid-template-columns: 300px 1fr;
        gap: 5px;
        padding: 5px;
        padding-right: 10px;
        border-bottom: solid rgb(95, 95, 95) 1px;
        .Options{
            background: gray;
        }
        .URL{
            display: flex;
            align-items: center;
            .urlBox{
                display: flex;
                gap:2px;
                width: 100%;
                input{
                    border-bottom-right-radius: 0;
                    border-top-right-radius: 0;
                }
                .button{
                    height: 25px;
                    box-shadow: none;
                    border-top-left-radius: 0;
                    border-bottom-left-radius: 0;
                    min-width: 0;
                    width: max-content;
                    border: none;
                }
            }
        }
    }
    .body{
        display: grid;
        grid-template-columns: 300px 1fr;
        overflow: hidden;
        padding: 5px;
        gap: 5px;
        .sideNav{
            background: gray;
        }
        #WebView-Container{
            width: 100%;
            overflow: auto;
            display: grid;
            grid-template-rows: 25px 1fr;
            justify-content: center;
            align-items: flex-start;
            .toggleView{
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 15px;
                gap: 5px;
            }
            #web{
                outline: 1px solid rgb(95, 95, 95);
                width: 100%;
                height: 100%;
            }
            #player{
                display: none;
                outline: 1px solid rgb(95, 95, 95);
                width: calc(1.8 * (100vh - 120px));
                height: calc(100vh - 120px);
            }
        }
    }

}

.active{
    outline: solid 2px rgb(117, 117, 117);
    background-color: rgb(48, 56, 68) !important;
}